{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "prefer-template": 0,
    "no-shadow": 0,
    "comma-dangle": 0
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ]
}
